<tr>
  <td>
    <%= link_to post.body, post_path(post), class: 'text-body fuzzy-text', data:{ random_index: "0" } %>
  </td>
  <td>
    <%= post.user.name %>
  </td>
  <td>
    <%= l post.created_at, format: :long %>
  </td>
  <td>  
    <% if current_user.own?(post) %>
      <%= render 'crud_menus', post: post %>
    <% else %>
      <%= render 'bookmark_button', post: post %>
    <% end %>
  </td>
</tr>
